<div class="form-wrapper">
    <form id="add-to-cart-form" class="form-inline">
        <div class="form-group">
            <label for="quantity">Qty: </label>
            <input [(ngModel)]="item.quantity" type="number" class="form-control quantity-field" name="quantity" placeholder="Quantity" size="5">
        </div>
        <button type="submit" class="btn btn-default" (click)="saveItem()">Add To Cart</button>
    </form>
</div>