<div class="form-wrapper">
    <form id="item-quantity-widget" class="form-inline">
        <button type="submit" class="btn btn-default" (click)="reduceQuantity()">-</button>
        <div class="form-group">
            <input disabled="true" [(ngModel)]="item.quantity" type="number" class="form-control quantity-field" name="quantity" placeholder="Quantity" size="5">
        </div>
        <button type="submit" class="btn btn-default" (click)="increaseQuantity()">+</button>
    </form>
</div>