<div id="cart-wrapper">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Product #</th>
                <th>Item Description</th>
                <th>Specifications</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems">
                <td>{{item.pvid}}</td>
                <td>{{item.variant.description}}</td>
                <td>{{item.variant.specificationSummary}}</td>
                <td><cart-item-quantity-widget [pvid]="item.pvid"></cart-item-quantity-widget></td>
        <td>
            <button class="btn btn-danger delete-btn" (click)="removeItem(item.pvid)">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </td>
        </tr>
        </tbody>
    </table>
</div>