<section class="checkout-components-wrapper container">
    <div>

        <!-- Nav tabs -->
        <ul id="checkout-pages-links" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{cartFormClass}}">
                <a (click)="showCartForm()" href="#cart" aria-controls="cart" role="tab" data-toggle="tab">                    
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                Review Cart
                </a>
            </li>
            <li role="presentation" class="{{contactFormClass}}">
                <a (click)="showContactForm()" href="#contact" aria-controls="contact" role="tab" data-toggle="tab">                    
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Contact Information
                </a>
            </li>
            <li role="presentation" class="{{finalizeFormClass}}">
                <a (click)="showFinalizeForm()" href="#requestQuote" aria-controls="requestQuote" role="tab" data-toggle="tab">                    
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                Request Quotation
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {{cartFormClass}}" id="cart">
                <cart-view></cart-view>
                <div class="actions">
                    <button class="btn btn-lg btn-info" (click)="showContactForm()">Proceed</button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane {{contactFormClass}}" id="contact">
                <customer-info-form [customer]="customer"></customer-info-form>
                <div class="actions">
                    <button class="btn btn-lg btn-default" (click)="showCartForm()">Previous Step</button>
                    <button class="btn btn-lg btn-info" (click)="showFinalizeForm()">Proceed</button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane {{finalizeFormClass}}" id="requestQuote">
                <h3 class="text-center">Checkout</h3>
                <div class="text-center">
                <re-captcha (captchaResponse)="handleCaptchaResponse($event)" site_key="6Lfx1xMUAAAAAEQICbeCMCfVSjd4M3YY5uc_aHbF"></re-captcha>
                </div>
                <div class="actions">
                    <button class="btn btn-lg btn-info" (click)="showContactForm()">Previous Step</button>
                    <button class="btn btn-lg btn-info" (click)="requestQuotation()">Request Quotation</button>
                </div>
            </div>
        </div>

    </div>
</section>