<section class="form-wrapper clearfix">

    <h3 class="text-center">Contact Information</h3>

    <form class="form-horizontal">

        <div class="col-sm-6">
            <div class="form-group">
                <label for="named" class="col-sm-2 control-label">Name: </label>
                <div class="col-sm-10">
                    <input [(ngModel)]="customer.named" type="text" class="form-control" id="named" name="named" placeholder="Your Name">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email: </label>
                <div class="col-sm-10">
                    <input [(ngModel)]="customer.email" type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone: </label>
                <div class="col-sm-10">
                    <input [(ngModel)]="customer.phone" type="text" class="form-control" id="phone" name="phone" placeholder="Your Phone Number(s)">
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address: </label>
                <div class="col-sm-10">
                    <textarea [(ngModel)]="customer.address" rows="4" class="form-control" id="address" name="address" placeholder="Your Address(es)"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="company" class="col-sm-2 control-label">Company: </label>
                <div class="col-sm-10">
                    <input [(ngModel)]="customer.company" type="text" class="form-control" id="company" name="company" placeholder="Company">
                </div>
            </div>

            <div class="form-group">
                <label for="comment" class="col-sm-2 control-label">Comments: </label>
                <div class="col-sm-10">
                    <textarea [(ngModel)]="customer.comment" rows="10" class="form-control" id="comment" name="comment" placeholder="Any comment or additional information. "></textarea>
                </div>
            </div>

        </div>
    </form>
</section>