<ng2-slim-loading-bar></ng2-slim-loading-bar>
<section class="body-wrapper">
    <section id="header-wrapper" class="clearfix">
        <header id="header" class="clearfix">
            <div id="header-left" class="col-sm-5">
                <div class="logo-wrapper">
                    <a href="#home">
                        <img class="logo" src="../assets/images/philleclips-logo-med.png" />
                    </a>
                </div>
            </div>
            <div id="header-right" class="col-lg-7">
                <div id="header-right-top" class="clearfix">
                    <div id="logo-wrapper">
                        <img class="letterhead-right" src="../assets/images/philleclips-letterhead-right.png">
                    </div>
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="#product/all">Products</a>
                            </li>
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#Sign In">Sign In</a>
                            </li>
                            <li class="cart-icon">
                                <a href="#checkout"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="header-right-bottom" class="clearfix">
                    <search-box></search-box>
                </div>
            </div>
        </header>
    </section>

    <section id="main-content-wrapper">

        <router-outlet></router-outlet>
    </section>

    <footer id="footer">
        <div class="container">

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h2 class="block-title">Categories</h2>
                <ul>
                    <li>
                        <a>Bulbs</a>
                    </li>
                    <li>
                        <a>T8 Tubes</a>
                    </li>
                    <li>
                        <a>Flat Panel Light</a>
                    </li>
                    <li>
                        <a>Down Light</a>
                    </li>
                    <li>
                        <a>Area Light</a>
                    </li>
                    <li>
                        <a>Security Sensor Lights</a>
                    </li>
                    <li>
                        <a>Roadway & Street Lighting</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <h2 class="block-title">Information</h2>
                <ul>
                    <li>
                        <a>About Us</a>
                    </li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                    <li>
                        <a>Sitemap</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <h2 class="block-title">User Menu</h2>
                <ul>
                    <li>
                        <a>Administration</a>
                    </li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                    <li>
                        <a>Sitemap</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <div id="footer-bottom-wrapper" class="clearfix">
        <footer id="footer-bottom">
            <div class="container">
                <div class="col-md-1 text-left">
                    <div class="content-1-wrapper">
                        <img src="../assets/images/qr-code.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="content-2-wrapper">
                        <img src="../assets/images/quality-seals.png">
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <div class="content-3-wrapper">
                        <img src="../assets/images/address.png">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>

<section id="alerts" class="hidden-print">
    <div *ngFor="let alert of alertService.getAlerts()" role="alert" class="alert alert-{{alert.type}} alert-dismissible">
        <button (click)="alertService.removeAlert(alert.message)" aria-label="Close" data-dismiss="alert" class="close" type="button">
            <span aria-hidden="true">×</span>
        </button>
        <strong class="ng-binding">{{alert.message}}</strong>
    </div>
</section>