<section id="products-listing" class="container">
    <h3 class="page-title">Our Products</h3>

    <div class="products-wrapper">
        <div class="product-wrapper col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let product of products">
             <div class="item-wrapper">
                <a [routerLink]="['/product/', product.pid, 'view']"><img src="{{product.defaultImage.imageUrl}}" /></a>
            </div>
        </div>
    </div>
</section>