<article id="product-node-wrapper" class="container">

    <h1 class="page-title">{{product.sku}}: {{product.title}}</h1>

    <section class="col-sm-12">

        <section id="slideshow-wrapper" class="col-sm-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div *ngFor="let image of product.images; let isFirst=first" [class.active]="isFirst" class="item">
                        <img src="{{image.imageUrl}}" alt="{{product.title}}" />
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <section class="col-sm-6">

            <div id="product-information-wrapper">
                <h3 class="section-title">Product Information</h3>

                <div class="row">
                    <div class="col-sm-12">
                        <label>SKU: </label>
                        {{product.sku}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Power Factor: </label>
                        {{product.powerFactor}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Operating Temperature: </label>
                        {{product.operatingTemperature}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Light Pattern: </label>
                        {{product.lightPattern}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Driver Efficiency: </label>
                        {{product.driverEfficiency}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Luminous Efficiency: </label>
                        {{product.luminousEfficiency}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Material: </label>
                        {{product.material}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>CRI: </label>
                        {{product.cri}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>Weight: </label>
                        {{product.weight}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label>IP Rating: </label>
                        {{product.ipRating}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {{product.description}}
                    </div>
                </div>

                <div class="row certifications-wrapper">
                    <div class="certification" *ngFor="let cert of product.certifications">
                         <img src="{{cert.imageUrl}}" height="100" alt="{{cert.title}}" />
                    </div>
                </div>

            </div>

        </section>

    </section>

    <section class="col-sm-12">
        <div>
            <product-variants-for-product *ngIf="product.pid" [product]="product"></product-variants-for-product>
        </div>
    </section>

</article>