<section id="product-variants-wrapper">
    <h3 class="text-center">{{product.title}} Variants</h3>

    <table id="product-variants-listing" *ngIf="productAttributes != null" class="table table-striped table-hover">
           <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th *ngFor="let attribute of productAttributes">{{attribute.attribute}}</th>
                <th>Price</th>
                <th>Add to Cart</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pv of variants">
                <td>{{pv.pvid}}</td>
                <td>{{pv.description}}</td> 
                <td *ngFor="let attribute of productAttributes">{{pv.getAttributeValue(attribute.aid)}}</td>               
                <td>{{pv.price}}</td> 
                <td><add-to-cart-form [pvid]="pv.pvid"></add-to-cart-form></td>
            </tr>
        </tbody>
    </table>
</section>