/* Header */
#header-wrapper
{
    height: 121px;
}
#header
{
    padding: 10px 10px 20px 10px;
    position: fixed;
    top: 0;
    z-index: 200;
    background: #FFF;
    width: 100%;
    -webkit-box-shadow: 1px 0px 10px 1px rgba(0,0,0,0.41);
    -moz-box-shadow: 1px 0px 10px 1px rgba(0,0,0,0.41);
    box-shadow: 1px 0px 10px 1px rgba(0,0,0,0.41);
}
#header-left .logo-wrapper {
    padding-top: 24px;
}
#header .logo-wrapper .logo {
    max-height: 50px;
    max-width: 310px;
}

/* Header Right */
#header-right-top #logo-wrapper
{
    float: right;
}
#header-right-top #logo-wrapper img
{
    max-height: 50px;
}
#header-right-top .menu
{
    float: right;  
    padding: 10px;
    text-align: right;
    margin-top: 5px;
    margin-right: 40px;
}
#header-right-top .menu li {
    display: inline-block;
}
#header-right-top .menu a {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 400;
    color: #777777;
    margin-left: 14px;
    transition: 0.5s;
    padding: 0;
}
#header-right-top .menu li.cart-icon a
{
    background: url(assets/images/shopping-cart.png) center center no-repeat;
    color: transparent;
    padding: 15px;
}
#header-right-top .menu a:hover {
    background: none;
    color: #000;
    text-decoration: none;
}
#header-right-bottom #search-box-wrapper
{
    float: right;
}
#header-right-bottom #search-box-wrapper input
{
    max-width: 370px;
    width: 370px;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#header-right-bottom #search-box-wrapper button
{
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Footer Top */
#footer {
    background-color: #252525;
    padding: 70px 0;
    margin-top: 0px;
    color: #FFF;
}
#footer h2 {
    font: 400 20px/22px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 0 0 17px 0;
}
#footer ul {
    padding-left: 0;
    margin-bottom: 0;
}
#footer li {
    border-bottom: 1px solid #383838;
    display: block;
}
#footer li a {
    padding: 7px 0 9px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    color: #999;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    display: block;
}
#footer li a:hover {
    color: #3add6f;
    padding-left: 10px;
    background: none;
}

/* Footer Bottom */
#footer-bottom-wrapper
{
    height: 110px;
}
#footer-bottom {
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    background: #FFF;
    width: 100%;
    z-index: 10000;
}
#footer-bottom .content-1-wrapper {
    padding: 0 8px;
}
#footer-bottom .content-2-wrapper {
    padding: 2px 30px;
}
#footer-bottom .content-3-wrapper {
    padding: 0 10px;
}

/* Global Styles */
img
{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Alerts */
#alerts {
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
}

/* PRODUCT LISTING PAGE */
#products-listing
{

}
#products-listing .page-title
{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}
#products-listing .product-wrapper
{

}
#products-listing .product-wrapper .item-wrapper
{
    border: 1px solid #eee;
    padding: 8px;
    height: 255px;
    margin-bottom: 20px;
    text-align: center
}
#products-listing .product-wrapper  .item-wrapper a
{

}
#products-listing .product-wrapper  .item-wrapper a img
{
    height: 245px;
    width: auto;
    margin: auto;
}

/* PRODUCT NODE PAGE */
#product-node-wrapper
{
    margin-bottom: 50px;
}
#product-node-wrapper .page-title
{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}
#product-node-wrapper #slideshow-wrapper .carousel-inner .item
{
    width: 100%;
    height: 600px;
    border: 1px solid #eee;
}
#product-node-wrapper #slideshow-wrapper .carousel-inner .item img
{
    max-width: 98%;
    max-height: 98%;
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
#product-node-wrapper #slideshow-wrapper .carousel .carousel-control
{
    background: transparent;
}
#product-node-wrapper #product-information-wrapper
{
    border: 1px solid #EEE;
    padding: 0 20px 20px 20px;
}
#product-node-wrapper #product-information-wrapper .section-title
{
    text-align: center;
}
#product-node-wrapper #product-information-wrapper .certifications-wrapper
{
    margin-top: 30px;
}
#product-node-wrapper #product-information-wrapper .certification
{
    display: inline-block;
    padding: 10px;
}
#product-node-wrapper #product-information-wrapper .certification img
{
    height: 75px;
    width: auto;
}
#product-node-wrapper #product-variants-wrapper
{
    border-top: 1px dashed #ddd;
    margin-top: 50px;
    padding-top: 20px;
}
#product-node-wrapper #product-variants-wrapper table
{
    border: 2px solid #000;
}
#product-node-wrapper #product-variants-wrapper table thead
{
    background: #CCC;
    text-transform: uppercase;
}
#product-node-wrapper #product-variants-wrapper table tbody tr
{
}
#product-node-wrapper #product-variants-wrapper table th,
#product-node-wrapper #product-variants-wrapper table td
{
    border: 1px solid #000;
}
#product-node-wrapper #product-variants-wrapper table .quantity-field
{
    width: 50px;
}

/* CHECKOUT PAGE */
.checkout-components-wrapper
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.checkout-components-wrapper #checkout-pages-links
{
    margin: 30px auto;
    text-align: center;
    border: none;
    display: block;
}
.checkout-components-wrapper #checkout-pages-links li
{
    float: none;
    display: inline-block;
}
.checkout-components-wrapper #checkout-pages-links li a
{
    border: 1px solid #ddd;
    margin: 0 20px 20px 20px;
    padding: 30px 60px;
    text-decoration: none;
    border-radius: 0px;
    font-size: 24px;
    color: #666;
}
.checkout-components-wrapper #checkout-pages-links li.active a
{
    background: #1051A0;  
    color: #FFF;
}
.checkout-components-wrapper #checkout-pages-links li a .glyphicon
{
    padding-right: 10px;
    font-size: 20px;
}
.checkout-components-wrapper .actions
{
    text-align: right;
    padding-top: 20px;
    border-top: 1px solid #eee;
    margin-top: 20px;
}
.checkout-components-wrapper .actions button
{
    background: #1051A0;    
    border-radius: 0px;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
}
.checkout-components-wrapper #cart-wrapper th
{
    text-transform: uppercase;
}
.checkout-components-wrapper #cart-wrapper .quantity-field
{
    width: 45px;
    padding: 6px 6px;
    text-align: center;
}
.checkout-components-wrapper #cart-wrapper .delete-btn
{
    border-radius: 0px;
}