<div id="search-box-wrapper">
    <input type="text" class="form-control form-text" placeholder="Search Products" />
    <button class="btn btn-primary">
        <span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</div>