<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../../assets/slideshow/background_2.jpg" alt="..">
        </div>
        <div class="item">
            <img src="../../assets/slideshow/background_4-2.jpg" alt="..">
        </div>
        <div class="item">
            <img src="../../assets/slideshow/background_5.jpg" alt="..">
        </div>
        <div class="item">
            <img src="../../assets/slideshow/background_9_1.jpg" alt="..">
        </div>
        <div class="item">
            <img src="../../assets/slideshow/backgroundb.jpg" alt="..">
        </div>
        <div class="item">
            <img src="../../assets/slideshow/g2.jpg" alt="..">
        </div>
        <div class="item">
            <img src="../../assets/slideshow/g4.jpg" alt="..">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>